<!DOCTYPE html>
<html>
    <head>
        <title>Danny | <%= title %></title>
        <meta name="Danny page" content="This is Danny's webpage">
        <link rel="stylesheet" href="style/danny_style.css">
    </head>
        
    <%- body %>

    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="danny-name">Danny</h3>
            <ul class="nav footer-nav">
                <li>
                    <a href="https://www.youtube.com/" target="_blank">
                        <img src="images/logos/youtube_white.png"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com/" target="_blank">
                        <img src="images/logos/spotify_white.ico"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="images/logos/facebook_white.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</html>
