<nav class="nav main-nav">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/store">STORE</a></li>
        <li><a href="/danny">ABOUT</a></li>
    </ul>
</nav>
<h1 class="danny-name danny-name-large">Danny</h1>
