<header class="main-header">
    <%- include('./layouts/mainNav') -%>
</header>

<section class="content-section container">
    <h2 class="section-header">About</h2>
    <p>
        Ohhh hiiii, my name is Danny.
        The name Danny means "God Is My Judge" and is of English origin.
    </p>
    <img class="danny-about-image" src="images/danny_profile.jpg">
    <h4 class="section-header section-header-1">My name's origin</h4>
    <p>
        The prophet Daniel is one of four Major Prophets in Hebrew Scripture, 
        along with Isaiah, Jeremiah, and Ezekiel. The Book of Daniel is followed by 
        the Prophet Hosea, the first of the Prophets in the Book of the Twelve. 
        Daniel in the Lions' Den is a favorite Bible story for children. In addition, 
        the captivating prophecy, imagery, and symbolism make the Book of Daniel one 
        of the most read of Hebrew Scripture, our Old Testament of the Bible.
    </p>
    <h4 class="section-header section-header-1">My professional career</h4>
    <p>
        I am a well recognized graphic designer.
        Graphic Designers use two or three-dimensional art to create visual concepts. 
        They design logos and layout designs for print and electronic media including 
        websites, magazines, brochures, user interfaces, product labels, reports and 
        advertisements. They work with other professionals to incorporate typesetting, 
        illustration, photography, and even programming, to ensure products display 
        as intended. Great Graphic Designers understand how to communicate brands visually and effectively.
    </p>
</section>