<header class="main-header">
    <%- include('./layouts/mainNav') -%>
    <div class="container">
        <button class="btn btn-header" type="button">Get Latest Song</button>
    </div>
    <button class="btn btn-header btn-main-play" type="button">&#9658</button>
</header>

<section class="content-section container">
    <h2 class="section-header">Hits List</h2>
    <div>
        <div class="song-row">
            <span class="song-item song-name">Commitment</span>
            <span class="song-item song-band">Sanctus Real</span>
            <span class="song-item song-album">Run</span>
            <button class="btn song-item song-btn btn-primary">Buy Song</button>
        </div>
        <div class="song-row">
            <span class="song-item song-name">Fix My Eyes</span>
            <span class="song-item song-band">for KING & COUNTRY</span>
            <span class="song-item song-album">RUN WILD. LIVE FREE. LOVE STRONG.</span>
            <button class="btn song-item song-btn btn-primary">Buy Song</button>
        </div>
        <div class="song-row">
            <span class="song-item song-name">This is Love</span>
            <span class="song-item song-band">for KING & COUNTRY</span>
            <span class="song-item song-album">RUN WILD. LIVE FREE. LOVE STRONG.</span>
            <button class="btn song-item song-btn btn-primary">Buy Song</button>
        </div>
        <div class="song-row">
            <span class="song-item song-name">Pioneers</span>
            <span class="song-item song-band">for KING & COUNTRY</span>
            <span class="song-item song-album">Burn The Ships</span>
            <button class="btn song-item song-btn btn-primary">Buy Song</button>
        </div>
        <div class="song-row">
            <span class="song-item song-name">Gave You My Heart</span>
            <span class="song-item song-band">Chris August</span>
            <span class="song-item song-album">Gave You My Heart</span>
            <button class="btn song-item song-btn btn-primary">Buy Song</button>
        </div>
        <div class="song-row">
            <span class="song-item song-name">God Gave Me You</span>
            <span class="song-item song-band">Dave Barnes</span>
            <span class="song-item song-album">What We Want, What We Get</span>
            <button class="btn song-item song-btn btn-primary">Buy Song</button>
        </div>
    </div>
</section>